@import "null.css";

/* ================================================================ */
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
/* ================================================================ */

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

body {
	margin-right: 750px;
	margin-left: 345px;
	font-family: "Lato", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #424551;
}

p {
	margin-bottom: 24px;
}

ul {
	padding-left: 32px;
	margin-bottom: 24px;
}

ul > li {
	margin-bottom: 4px;
}

.header {
	margin-top: 190px;
	margin-bottom: 26px;
	font-weight: 900;
	font-size: 46px;
	font-style: normal;
	line-height: 1.3;
	color: #1e212c;
}

.img-dekstop {
	margin-top: 92px;
	margin-bottom: 60px;
}

.paragraph {
	font-weight: 700;
	font-size: 20px;
	font-style: normal;
	line-height: 1.5;
	color: #1e212c;
}

.paragraph-quote {
	margin-top: 48px;
	margin-bottom: 48px;
	padding-left: 58px;
	font-weight: 700;
	font-size: 20px;
	font-style: normal;
	line-height: 1.5;
	color: #1e212c;
}

.paragraph-text {
	font-weight: 400;
	font-size: 16px;
	font-style: normal;
	line-height: 1.6;
}

.list-text {
	font-weight: 400;
	font-size: 16px;
	font-style: normal;
	line-height: 1.6;
}

.paragraph-last {
	margin-bottom: 188px;
}
